.bg-header{
    width: 100%;
    height: 120vh;
    background-repeat: none;
    z-index: 0;
}

.bg-header2{
    width: 100%;
    height: 10%;
    background-repeat: none;
    z-index: 0;
}

.h2-header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    font-size: 2em;
    margin-bottom: 20px;
}

.h2-header span{
    color: red;
}

.h4-header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding-left: 13em;
    padding-right: 13em;
}

.h4-header span{
    color: red;
}

.opener-nav{
    background-color: rgb(42, 40, 40);
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 30px;
}

.opener-nav p {
    padding-top: 3px;
}

.images-section{
    display: grid;
    grid-template-areas: 'img1 img2 img3';
    margin-top: 70px;
}

.img1{
    grid-area: img1;
    padding-left: 150px;
}

.img2{
    grid-area: img2;
}

.img3{
    grid-area: img3;
    padding-right: 80px;
}

.imgmain{
    width: 95%;
}

.h2-carousel{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    padding-bottom: 50px;
}

.h2-carousel span{
    color: red;
}

.myButton {
	box-shadow:inset 1px 50px 22px -48px #615d61;
	background-color:#000000;
	border:2px solid #0f0a0f;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto', sans-serif;
	font-size:19px;
	padding-top: 10px;
    padding-left: 25px;
	text-decoration:none;
    grid-area: button;
    width: 160px;
    height: 55px;
    margin-left: 4.5em;
}
.myButton:hover {
	background-color:red;
    color: white;
}
.myButton:active {
	position:relative;
	top:1px;
}

.container-section2{
    display: grid;
    grid-template-areas: 
    "img h4"
    "img button";
    margin-bottom: 50px;
}

.img-section2{
    width: 90vh;
    grid-area: img;
    margin-left: 140px;
}

.h4-section2{
    grid-area: h4;
    padding-top: 170px;
    padding-left: 3.5em;
    padding-right: 3.5em;
}

.h4-section2 span{
    color: red;
}

.before-footer-div{
    text-align: center;
    margin-bottom: 50px;
}

.before-footer-div p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.before-footer-div h4 {
    font-size: 2em;
    margin-bottom: 30px;
}

.container-footer footer{
    background-color: black;
    width: 100%;
    height: 40vh;
}

.footer{
    display: grid;
    grid-template-areas: 
    "contacto beast redes shop"
    "contacto beast redes shop"
    "mio mio mio mio";
}

.div-contacto{
    grid-area: contacto;
    color: whitesmoke;
    padding-top: 20px;
    margin-left: 100px;
}

.div-contacto a{
    text-decoration: none;
    color: red;
}

.div-beast{
    grid-area: beast;
    color: whitesmoke;
    padding-top: 20px;
}

.div-beast span{
    color: red;
}

.div-redes{
    grid-area: redes;
    color: whitesmoke;
    padding-top: 20px;
}

.button-shop{
    grid-area: shop;
    color: whitesmoke;
    padding-top: 80px;
}

.button-shop a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-family:'Roboto', sans-serif;
    font-size: 1.5em; 
}

.dand{
    grid-area: mio;
    text-align: center;
    color: #615d61;
}