.bg-header2{
    width: 100%;
    height: 120vh;
    background-repeat: none;
    z-index: 0;
}

.bg-header2{
    width: 100%;
    height: 10%;
    background-repeat: none;
    z-index: 0;
}

.h2-header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    font-size: 2em;
    margin-bottom: 20px;
}

.h2-header span{
    color: red;
}

.h4-header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.h4-header span{
    color: red;
}

.opener-nav{
    background-color: rgb(42, 40, 40);
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 30px;
}

.opener-nav p {
    padding-top: 3px;
}

.images-section{
    display: grid;
    grid-template-areas: 'img1 img2 img3';
    margin-top: 70px;
}

.img-section2{
    grid-area: img;
    width: 100%;
}

.h2-carousel{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    padding-bottom: 50px;
}
.imgmain{
    width: 90%;
    margin-left: 0.5em;
}
.h2-carousel span{
    color: red;
}

.myButton {
	box-shadow:inset 1px 50px 22px -48px #615d61;
	background-color:#000000;
	border:2px solid #0f0a0f;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto', sans-serif;
	font-size:15px;
	padding: 1em;
	text-decoration:none;
    grid-area: none;
    width: 160px;
    height: 55px;
    margin-left: 10em;
}
.myButton:hover {
	background-color:red;
    color: white;
}
.myButton:active {
	position:relative;
	top:1px;
}

.h4-section2{
    grid-area: h4;
    padding-top: 30px;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 1em;
}

.h4-section2 span{
    color: red;
}

.before-footer-div{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.before-footer-div p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.before-footer-div h4 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.container-footer footer{
    background-color: black;
    width: 100%;
    height: 100%;
}

.container-footer2 footer{
    background-color: white;
    width: 100%;
    height: 100%;
}
.div-contacto2{
    grid-area: contacto;
    color: black;
    padding-top: 20px;
    margin-left: 60px;
}

.div-contacto2 a{
    text-decoration: none;
    color: red;
}

.div-beast2{
    grid-area: beast;
    color: black;
    padding-top: 30px;
    margin-left: 60px;
}

.div-beast2 span{
    color: red;
}

.div-redes2{
    grid-area: redes;
    color: black;
    padding-top: 30px;
    margin-left: 60px;
    display: grid;
}

.footer{
    display: grid;
    grid-template-areas: 
    "contacto"
    "beast"
    "redes"
    "shop"
    "mio";
}

.div-contacto{
    grid-area: contacto;
    color: whitesmoke;
    padding-top: 20px;
    margin-left: 60px;
}

.div-contacto a{
    text-decoration: none;
    color: red;
}

.div-beast{
    grid-area: beast;
    color: whitesmoke;
    padding-top: 30px;
    margin-left: 60px;
}

.div-beast span{
    color: red;
}

.div-redes{
    grid-area: redes;
    color: whitesmoke;
    padding-top: 30px;
    margin-left: 60px;
    display: grid;
}

.button-shop{
    grid-area: shop;
    color: whitesmoke;
    margin-left: 250px;
}

.button-shop a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-family:'Roboto', sans-serif;
    font-size: 1.5em; 
}

.dand{
    grid-area: mio;
    text-align: center;
    color: #615d61;
}

.carritoempty{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
}

.buttoncarritoempty{
   border-radius: 0;
   line-height: 160px;
   margin-left: 110px;
}

.botonmas {
	background-color:#25853f;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 9px;
	text-decoration:none;
}
.botonmas:hover {
	background-color:#03590f;
}
.botonmas:active {
	position:relative;
	top:1px;
}

.botonmenos {
	background-color:#25853f;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 9px;
	text-decoration:none;
}
.botonmenos:hover {
	background-color:#03590f;
}
.botonmenos:active {
	position:relative;
	top:1px;
}
.tc1{
    display: block;
}
.tr1{
    display: none;
}
.tr2{
    display: grid;
    grid-template-areas: 
    "tdimg tdprod tdprod tdmas"
    "tdimg tdprice tdvaciar tdmas";
    padding-top: 5em;
}
.tdimg{
    grid-area: tdimg;
}
.tdprod{
    grid-area: tdprod;
}
.tdmas{
    grid-area: tdmas;
}
.tdprice{
    grid-area: tdprice;
}
.tdvaciar{
    grid-area: tdvaciar;
}
.containertotal{
    display: grid;
}
.totalcart{
    margin-right: 8em;
}
.containertotalcomprar{
    display: grid;
    grid-template-columns: "1""2";
}
.boton4{
    border-radius: 5px;
    background-color: #23232c;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #23232c;
    padding: 10px 100px;
    margin-left: 10px;
}
.boton4:hover{
    color: antiquewhite;
}
.h4total{
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-left: 10px;
}
.tablacarrito{
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}
.containerfinal{
    margin-bottom: 200px;
}
.boton4 p {
    text-align: center;
}
#p1 span{
    display: none;
}
@media screen and (max-width: 431px){
    .tdmas{
        grid-area: tdmas;
        display: grid;
        grid-template-areas: "amas"
        "num"
        "amenos";
    }
    .amas{
        grid-area: amas;
    }
    .amenos{
        grid-area: amenos;
    }
    
}


@media screen and (min-width: 720px) {
    #p1 span{
        display: inline;
    }
    .h4total{
        font-size: 2em;
        font-family: 'Roboto', sans-serif;
        text-align: left;
        margin-left: 30px;
    }
    .tablacarrito{
        font-family: 'Roboto', sans-serif;
        margin-left: none;
        grid-area: tabla;
        margin-right: 150px;
    }
    .containerfinal{
        margin-bottom: 200px;
        display: grid;
        grid-template-areas: 
        "total tabla tabla"
        "total boton boton";
    }
    .boton4{
        border-radius: 5px;
        background-color: #23232c;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        font-size: 20px;
        border: 10px solid #23232c;
        padding: 10px 200px 20px 505px;
        margin-right: 10px;
        grid-area: boton;
    }
    .boton4 p {
        text-align: center;
    }
    .boton4:hover{
        color: antiquewhite;
    }
    .totalcart{
        margin-right: 45.5em;
    }
    .tr2{
        display: table-row;
    }
    .tc1{
        display: inline-table;
    }
    .tr1{
        display: table-cell;
    }
    
    .buttoncarritoempty{
        border-radius: 0;
        line-height: 160px;
        margin-left: 680px;
     }
    .img1{
        grid-area: img1;
        padding-left: 150px;
    }
    
    .img2{
        grid-area: img2;
    }
    
    .img3{
        grid-area: img3;
        padding-right: 80px;
    } 
    .container-section2{
        display: grid;
        grid-template-areas: 
        "img h4"
        "img button";
        margin-bottom: 50px;
    }

    .img-section2{
        width: 90vh;
        grid-area: img;
        margin-left: 140px;
    }

    .myButton {
        box-shadow:inset 1px 50px 22px -48px #615d61;
        background-color:#000000;
        border:2px solid #0f0a0f;
        cursor:pointer;
        color:#ffffff;
        font-family:'Roboto', sans-serif;
        font-size:19px;
        padding-top: 10px;
        padding-left: 25px;
        text-decoration:none;
        grid-area: button;
        width: 160px;
        height: 55px;
        margin-left: 4.5em;
    }
    .myButton:hover {
        background-color:red;
        color: white;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    
    .h4-section2{
        grid-area: h4;
        padding-top: 170px;
        padding-left: 3.5em;
        padding-right: 3.5em;
    }
    
    .h4-section2 span{
        color: red;
    }
    
    .footer{
        display: grid;
        grid-template-areas: 
        "contacto beast redes shop"
        "contacto beast redes shop"
        "mio mio mio mio";
    }
    
    .div-contacto{
        grid-area: contacto;
        color: whitesmoke;
        padding-top: 20px;
        margin-left: 100px;
    }
    
    .div-contacto a{
        text-decoration: none;
        color: red;
    }
    
    .div-beast{
        grid-area: beast;
        color: whitesmoke;
        padding-top: 20px;
    }
    
    .div-beast span{
        color: red;
    }
    
    .div-redes{
        grid-area: redes;
        color: whitesmoke;
        padding-top: 20px;
    }
    
    .button-shop{
        grid-area: shop;
        color: whitesmoke;
        padding-top: 80px;
    }
    
    .button-shop a {
        text-decoration: none;
        color: rgb(255, 0, 0);
        font-family:'Roboto', sans-serif;
        font-size: 1.5em; 
    }
    
    .dand{
        grid-area: mio;
        text-align: center;
        color: #615d61;
    }

    .container-footer footer{
        background-color: black;
        width: 100%;
        height: 40vh;
    }
}